@import 'variables.scss';
@import 'mixins.scss';

* {

}

body {
  padding: 20px 0;
  background: $bg
}

a {
  color: $blue;
  &:hover {
    color: $dark-blue;
  }
}

div.card {
  background: white;
  border-radius: 2px;
  @include shadow;
  overflow: hidden;
  .card-header {
    background: $light;
    border-bottom: 1px solid $border;
    padding: 10px 20px;
  }
  .card-body {
    padding: 20px;
    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  background: $bg;
  list-style-type: none;
  .list-header {
    display: block;
    background: white;
    padding: 10px 20px;
  }
  .list-item {
    display: block;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    &:not(:first-child) {
      border-top: 1px solid $border;
    }
  }
}

.input {
  position: relative;
  display: table;
  height: 40px;
  input {
    position: relative;
    display: table-cell;
    float: left;
    height: inherit;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid $border;
    @include inset-shadow;
    outline: none;
    border-radius: 2px;
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  button {
    position: relative;
    display: table-cell;
    height: inherit;
    padding: 8px 10px;
    background: $dark-blue;
    font-size: 14px;
    border: 1px solid $dark-blue;
    color: white;
    vertical-align: middle;
    outline: none;
    border-radius: 2px;
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:hover {
      background: $blue;
    }
    &:active {
      background: $light-blue;
    }
  }
}