extends layout

block content
  .card
    .card-header
      h3 Posts
    .card-body
      .input
        form#search
          input(type="text", name="user", autocomplete="off", placeholder="Search")
          button
            i.glyphicon.glyphicon-search
    .list
      each result in results
        .list-item
          .list-item-body
            a(href="/r/#{result.subreddit}").list-item-header: h4 #{result.subreddit}
            p x comments