extends layout

block content
  .card
    .card-header: h3 Subreddits
    .card-body
      .input
        form#search
          input(type="text", name="search", autocomplete="off", placeholder="Browse subreddits...")
          button
            i.glyphicon.glyphicon-search
    .list
      each result in results
        .list-item
          .list-item-body
            a(href="/r/#{result.subreddit}").list-item-header: h4 #{result.subreddit}
      if results.length === 0
        .list-item
          .list-item-body
            p 0 results

