extends layout

block content
  .card
    .card-header
      h3 Posts
    .card-body
      .input
        form#search
          input(type="text", name="user", autocomplete="off", placeholder="Search")
          button
            i.glyphicon.glyphicon-search
    .list
      each result in results
        .list-item
          .list-item-body
            a(href="/t/#{result.link_id}").title: h4 #{result.link_id}